@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


@font-face{ 
 font-family: 'Roboto';
 src: url('font/WebFont.eot');
 src: url('font/WebFont.eot?iefix') format('eot'),
      url('font/WebFont.woff') format('woff'),
      url('font/WebFont.ttf') format('truetype'),
      url('font/WebFont.svg#webfont') format('svg');
}


.gradient{
    width: 400px;
    height: 320px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(255, 204, 204)), color-stop(100%,rgba(255, 204, 204))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 204, 204) 50%,rgba(255, 204, 204) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgb(255, 153, 153) 0%,rgb(255, 102, 102) 100%); /* W3C */
  position:absolute;
  top:0px;
  height:800px;
  z-index:-1;
  
}
    body {
        background-color:#ff6666;
        margin: 0;
        padding: 0;
        width:320px;
        
        
}
    
    .nav img{
        
        width:200px;
        animation: logoAnimation 1.5s 1s 1;
        
        
    }
    
    @keyframes logoAnimation{
        0%{
            color: darkturquoise;
            transform:rotate(0deg);
    
        }
        
        100%{
            color: aqua;
            transform: rotate(360deg);
        }
    }

    .nav {
        padding-top: 20px;
        font-size: 30px;
        list-style-type:none;
        width:200px;
        margin: auto;
        text-align:center;
        font-family: 'Roboto';
        
        
        

    }

    .navigation {
        
        font-size:18px;
        text-align:center;
        font-family: sans-serif;
       font-family: 'Roboto';

    }

    .navigation li {
        display: inline-block;
        padding: 10px;
        color: white;
        font-family: 'Roboto';
        
        
        
    }

    a {
        text-decoration: none;
        color: white;

    }

    .container {
        text-align: center;
        padding-top: 20px;

    }

    .btn-meal{
        display: block;
        text-decoration: none;
        width: 360px;
        height: 130px;
        margin: 0px auto;
        padding: 20px;
        color: white;
        font-family: 'Roboto';
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
        font-size: 30px;
        border: 3px solid white;
         
    }




    .container {
        color: white;
        font-size: 25px;
        position: relative;
        font-family: 'Roboto';
    }

    .container a {
        color: #33cccc;
        padding-top: 20px;
        font-family: 'Roboto';
        
    }



    .input {
        position: relative;
        top: 130px;
        font-family: 'Roboto';
        text-align: center;

    }





    label {
        color: white;
        font-size:25px;
        font-family: 'Roboto';
        

    }

    input {
        margin-top: 50px;
        font-size: 20px;
        font-family: 'Roboto';
        color: #33cccc;
        border: 2px solid red;
        border-radius: 4px;
        font-family: 'Roboto';

    }

    #schedule_btn {
        margin-top: 60px;
        width: 150px;
        height: 50px;
        font-size: 20px;
        
        color: white;
        background-color: #33cccc;

    }

   #schedule_cont{
       position:relative;
       width:300px;
       left:30px;
       top:70px;
       font-family: 'Roboto';
  
    }




